<h1 class="text-center">Say Hello!</h1>

<div class="skinny_wrapper wrapper_padding">
  <h1 class="text-center"> Thank You for your message! </h1>
    <p class="text-center"> I will get back to you shortly. </p>
</div>
